body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* Updated linear gradient */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  padding: 20px;
  font-family: Arial;
  box-shadow: 5px 5px 7px 5px #8888;
  background-color: rgba(255, 255, 255, 0.9); /* White background with transparency */
  border-radius: 10px;
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.main h2 {
  font-size: 36px;
  text-align: center;
  font-family: Arial;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 20px;
  padding: 12px 20px;
  margin: 8px;
  border: none;
  border-bottom: 2px solid #764776;
}

input[type=submit] {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: #764776;
  border: none;
  color: white;
  padding: 16px 32px;
  margin: 4px 2px;
  border-radius: 10px;
}

.main:hover {
  box-shadow: 5px 5px 7px 5px #8888, 0 0 20px #C06C84; /* Shiny border effect on hover */
}
